<div class="flex items-center justify-center min-h-screen px-6">
  <div class="card bg-base-300 w-2xl h-2xl p-10 flex justify-center z-10">
    <div>
      <!-- ロゴ -->
      <div class="flex justify-center mx-auto">
        <%= image_tag "mikaduki.png", width: "90" %>
      </div>

      <%= render "flash" %>

      <!-- ユーザー情報 -->
      <div class="flex justify-center mt-6">
        <div class="text-center">
          <% if current_user %>
            <h1 class="text-2xl font-bold text-secondary mb-4">Welcome, <%= current_user.name %>!</h1>

            <div class="card bg-base-200 p-6 w-full max-w-md mb-6">
              <div class="mb-4">
                <p class="text-sm text-base-100">Your Profile</p>
                <div class="divider my-1"></div>
              </div>

              <div class="text-left mb-4">
                <p class="text-sm text-base-100">Name:</p>
                <p class="text-lg text-primary"><%= current_user.name %></p>
              </div>

              <div class="text-left">
                <p class="text-sm text-base-100">Email:</p>
                <p class="text-lg text-primary"><%= current_user.email %></p>
              </div>
            </div>

            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-secondary w-full text-base-200" %>
            <%= link_to "ユーザー詳細", user_path(current_user), class: "btn btn-outline btn-secondary w-full text-base-200 mt-4" %>
            <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-outline btn-secondary w-full text-base-200 mt-4" %>
            <div class="divider my-4"></div>
            <button class="btn btn-accent rounded-lg" onclick="milestone_new_modal.showModal()">星座作製</button>
            <button class="btn btn-accent rounded-lg" onclick="tasks_new_modal.showModal()">タスク作製</button>

            <div class="divider my-4"></div>

            <div class="flex justify-between mb-4">
              <div class="mr-3">
                <% @milestones.each do |milestone| %>
                  <div class="card bg-base-200 p-6 w-full max-w-md mb-4">
                    <div class="mb-4">
                      <p class="text-sm text-base-100">Milestone</p>
                      <div class="divider my-1"></div>
                    </div>

                    <div class="text-left mb-4">
                      <p class="text-sm text-base-100">ID:</p>
                      <p class="text-lg text-primary"><%= milestone.id %></p>
                    </div>

                    <div class="text-left mb-4">
                      <p class="text-sm text-base-100">Progress:</p>
                      <p class="text-lg text-primary"><%= milestone.progress%></p>
                    </div>

                    <div class="text-left mb-4">
                      <p class="text-sm text-base-100">Title:</p>
                      <p class="text-lg text-primary"><%= milestone.title %></p>
                    </div>

                    <div class="text-left">
                      <p class="text-sm text-base-100">Description:</p>
                      <p class="text-lg text-primary"><%= milestone.description %></p>
                    </div>

                    <div class="text-left">
                      <p class="text-sm text-base-100">is_public:</p>
                      <p class="text-lg text-primary"><%= milestone.is_public%></p>
                    </div>

                    <div class="text-left">
                      <p class="text-sm text-base-100">is_on_chart:</p>
                      <p class="text-lg text-primary"><%= milestone.is_on_chart%></p>
                    </div>

                    <%= link_to "Show", milestone_path(milestone), class: "btn btn-secondary w-full text-base-200 mt-4" %>
                  </div>
                <% end %>
              </div>


              <div>
                <% @tasks.each do |task| %>
                  <div class="card bg-base-200 p-6 w-full max-w-md mb-4">
                    <div class="mb-4">
                      <p class="text-sm text-base-100">Task</p>
                      <div class="divider my-1"></div>
                    </div>

                    <div class="text-left mb-4">
                      <p class="text-sm text-base-100">ID:</p>
                      <p class="text-lg text-primary"><%= task.id %></p>
                    </div>

                    <div class="text-left mb-4">
                      <p class="text-sm text-base-100">Milestone Title:</p>
                      <p class="text-lg text-primary"><%= task.milestone&.title%></p>
                    </div>

                    <div class="text-left mb-4">
                      <p class="text-sm text-base-100">Title:</p>
                      <p class="text-lg text-primary"><%= task.title %></p>
                    </div>

                    <div class="text-left">
                      <p class="text-sm text-base-100">Description:</p>
                      <p class="text-lg text-primary"><%= task.description %></p>
                    </div>

                    <div class="text-left">
                      <p class="text-sm text-base-100">Progress:</p>
                      <p class="text-lg text-primary"><%= task.progress %></p>
                    </div>

                    <%= link_to "show", task_path(task), class: "btn btn-secondary w-full text-base-200 mt-4", data: { turbo_frame: "tasks_show_modal"} %>

                  </div>

                <% end %>
              </div>
            </div>

          <% else %>
            <h1 class="text-2xl font-bold text-secondary mb-4">Welcome, Guest!</h1>
            <p class="text-base-100 mb-6">Please log in or sign up to continue.</p>

            <div class="flex flex-col gap-4">
              <%= link_to "Log in", new_user_session_path, class: "btn btn-secondary text-base-200" %>
              <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline btn-secondary text-base-200" %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-20" >
  <%= render "menu_bar" %>
</div>
<%= render "milestones/milestone_new_form", milestone: @milestone %>
<%= render "tasks/tasks_new_form", task: @task, milestones: @milestones %>
<%= turbo_frame_tag "tasks_show_modal" %>
