<!-- flashメッセージ -->
<div id="flash" class="fixed m-5 top-0 left-0 right-0 z-50">
  <%= render "flash" %>
</div>

<div class="flex items-center justify-center min-h-screen px-6">
  <div class="card bg-base-300 w-2xl h-2xl p-10 py-16 flex justify-center z-10">
    <div>
      <!-- ロゴ -->
      <div class="flex justify-center mx-auto">
        <%= link_to root_path do %>
          <%= image_tag 'icon-512x512.png', width: "90" %>
        <% end %>
      </div>

      <!-- タイトル -->
      <div class="flex items-center justify-center mt-6">
        <h2 class="text-lg font-medium text-primary">認証メール再送信</h2>
      </div>

      <!-- 認証メール再送信フォーム -->
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), data: {turbo: false, action: "submit->loading#show" }, html: { class: "w-full mt-6" }) do |f| %>

        <label class="floating-label mt-5">
          <%= f.text_field :email,
                autofocus: true,
                autocomplete: "email",
                value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                placeholder: "メールアドレス",
            class: "input input-lg input-primary w-full text-base-100 bg-base-200" %>
          <span class="floating-label-text">メールアドレス</span>
        </label>

        <%= f.submit "認証メールを再送信", class: "btn btn-secondary text-base-100 w-full mt-8" %>
      <% end %>

      <div class="my-8 text-center space-y-3">
        <p class="text-sm text-base-content/70">
          認証メールが届いていない場合は、上記フォームから再送信できます
        </p>
        <div class="text-xs text-base-content/60 space-y-1">
          <p>・迷惑メールフォルダをご確認ください</p>
          <p>・メールアドレスに間違いがないかご確認ください</p>
          <p>・認証メールの有効期限は24時間です</p>
        </div>
      </div>
    </div>
  </div>
</div>
