<!-- milestone: 必須, milestone_tasks: 必須 , bar_height: 無くても -->
  <div class="flex justify-center items-center rounded-lg w-full max-w-xl h-full">
    <div class="flex justify-center">
      <%= render "star_icon", { color: milestone.color } %>
    </div>
    <div class="text-sm ml-2 whitespace-nowrap text-center">
      <%= milestone_tasks.select{ |t| t.progress == "completed" }.length%> / <%= milestone_tasks.length%>
    </div>
    <div class="flex justify-center items-center ml-4 h-full w-full">
      <div class="w-full rounded-full bg-base-100 inset-shadow-sm inset-shadow-base-300">
        <div class="h-full rounded-full"
          style="
          width: <%= milestone.completed_tasks_percentage %>%;
          height: <%= local_assigns[:bar_height] || 20 %>px;
          background-color: <%= milestone.color %>;
          box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.1);
          ">
        </div>
      </div>
    </div>
  </div>
