<div class="h-full w-full">
  <!-- 月の画像 -->
  <%= render 'title_header', title: @title %>

  <!-- 内容表示部分 -->
  <div class="relative z-10 min-h-screen space-y-5 rounded-t-[4rem] border-x-1 border-t-1 border-base-200 bg-base-300/30 p-8 text-center text-base-200 xl:text-xl">

    <!-- フラッシュメッセージ -->
    <div id="flash" class="fixed m-5 top-0 left-0 right-0 z-50">
      <%= render 'flash' %>
    </div>

    <div class="text-center text-3xl text-base-200">
      <%= @user.name %>
    </div>


    <!-- 表示部分 -->
    <div class="flex w-full items-center justify-center mb-10">
      <div class="tabs tabs-lift w-xl">

        <!-- 作成中の星座 -->
        <input type="radio" name="my_tabs" class="tab" aria-label="作成中の星座" checked="checked"/>
        <div class="tab-content border-base-300 bg-base-100 p-3">

          <div class="card flex items-center justify-center mb-4 size-full h-25 bg-base-300/40 shadow-xl/10">
            <button class="size-full p-4 rounded-xl hover:cursor-pointer hover:bg-base-300/30" onclick="milestones_new_modal.showModal()">
              <div class="flex items-center justify-center size-full">
                <span class="material-symbols-outlined">
                  add_circle
                </span>
                追加
              </div>
            </button>
          </div>

          <!-- 星座 -->
          <%= render "milestones", milestones: @not_completed_milestones, completed: false %>
        </div>

        <!-- 完成済みの星座 -->
        <input type="radio" name="my_tabs" class="tab" aria-label="完成した星座" />
        <div class="tab-content border-base-300 bg-base-100 p-3">
          <!-- 星座 -->
          <%= render "milestones", milestones: @completed_milestones, completed: true %>
        </div>

      </div>
    </div>
  </div>


  <div class="mt-10" >
    <%= render "menu_bar" %>
  </div>

  <%= render "milestones/milestones_new_modal", milestone: @milestone %>
  <%= turbo_frame_tag "show_complete_page_modal" %>
