<div class="h-full w-full">
  <!-- 月の画像 -->
  <%= render 'title_header', title: @title %>

  <!-- 内容表示部分 -->
  <div class="relative z-10 min-h-screen space-y-5 rounded-t-[4rem] border-x-1 border-t-1 border-base-200 bg-base-300/30 p-8 text-center text-base-200 xl:text-xl">

    <!-- フラッシュメッセージ -->
    <div id="flash" class="fixed m-5 top-0 left-0 right-0 z-50">
      <%= render 'flash' %>
    </div>

    <div class="text-center text-3xl text-base-200">
      <%= @user.name %>
    </div>


    <!-- 表示部分 -->
    <div class="flex w-full items-center justify-center mb-10">
      <div class="tabs tabs-lift w-xl">

        <!-- 作成中の星座 -->
        <input type="radio" name="my_tabs" class="tab" aria-label="作成中" checked="checked"/>
        <div class="tab-content border-base-300 bg-base-100 p-3">

          <!-- 検索欄、ソートの切り替えセレクト -->
          <div class="mb-3">
            <%= render "search_or_sort_select", q: @q, path: milestones_path, _progress: "not_completed" %>
          </div>

          <!-- 星座の追加ボタン -->
          <%= render "milestones/add_milestone_button" %>
          <!-- ボタンの移動を通知 -->
          <%= render "add_button_notification" %>

          <!-- 星座 -->
          <%= turbo_frame_tag "search_sort_content_frame" do %>
            <%= render "milestones", milestones: @not_completed_milestones %>
          <% end %>
        </div>

        <!-- 完成済みの星座 -->
        <input type="radio" name="my_tabs" class="tab" aria-label="完成済" />
        <div class="tab-content border-base-300 bg-base-100 p-3">
          <!-- ソートの切り替えセレクト -->
          <div class="mb-3">
            <%= render "search_or_sort_select", q: @q, path: milestones_path, _frame_target: "secondary", _progress: "completed" %>
          </div>

          <!-- 星座 -->
          <%= turbo_frame_tag "secondary_search_sort_content_frame" do %>
            <%= render "milestones", milestones: @completed_milestones %>
          <% end %>
        </div>

        <!-- 限定公開中の星座 -->
        <input type="radio" name="my_tabs" class="tab" aria-label="限定公開"/>
        <div class="tab-content border-base-300 bg-base-100 p-3">

          <!-- 星座 -->
          <% if @sharing_milestones.any? %>
            <% @sharing_milestones.each do |milestone| %>
              <%= render "limited_sharing_milestones/milestone", milestone: milestone %>
            <% end %>
          <% else %>
            <div class="mx-auto">
              <div class="card mb-4 w-full h-30 p-4 bg-base-300/40 shadow-xl/10">
                <div class="flex size-full items-center justify-center">
                  <div class="flex items-center">
                    <%= render "stars_icon" %>
                  </div>

                  <p class="text-lg ml-2">星座が見つかりません</p>
                </div>
              </div>
            </div>
          <% end %>

        </div>

      </div>
    </div>
  </div>

  <%= render "menu_bar" %>

  <%= render "milestones/milestones_new_modal", milestone: @milestone %>
  <%= turbo_frame_tag "show_complete_page_modal" %>
