<!-- @modal_openはregistrations_controller.rbで定義 -->
<!-- update失敗時にrender users/showを行う際にモーダルが閉じてしまうことを回避 -->
<dialog id="edit_modal" class="modal" <%= @modal_open ? 'open' : ' ' %> >
  <div class="modal-box">
    <p class="pb-4 text-center">ESC or 下の(X)を押すと閉じます</p>
    <div class="flex items-center justify-center">
      <div class="card bg-base-300 w-2xl h-2xl p-5 flex justify-center z-10">
        <div>

          <!-- タイトルタブ -->
          <div class="flex items-center justify-center text-secondary">
            <p class="text-xl">ユーザー編集</p>
          </div>

          <!-- エラーメッセージ -->
          <%= render "devise/shared/error_messages", resource: @user %>

          <!-- 編集フォーム -->
          <%= form_for(@user, as: @user, url: registration_path(@user), html: { method: :put, class: "w-full mt-6" }) do |f| %>

            <div class="divider mb-4">プロフィール</div>

            <label class="floating-label">
              <%= f.text_field :name,
                autofocus: true,
                autocomplete: "name",
                placeholder: "User name",
                class: "input input-lg input-primary w-full text-base-100 bg-base-200" %>
                <span class="floating-label-text">Name</span>
            </label>

            <label class="floating-label mt-5">
              <%= f.text_field :email,
                autocomplete: "email",
                placeholder: "Email address",
                class: "input input-lg input-primary w-full text-base-100 bg-base-200" %>
                <span class="floating-label-text">Email</span>
            </label>

            <label class="floating-label mt-5">
              <%= f.text_area :bio,
                autocomplete: "bio",
                placeholder: "Bio (optional)",
                class: "textarea textarea-lg input-primary w-full text-base-100 bg-base-200 rounded-lg" %>
                <span class="floating-label-text">Bio</span>
            </label>

            <div class="divider mb-4 mt-10">パスワード変更時のみ入力</div>

            <label class="floating-label mt-5">
              <%= f.password_field :password,
                autocomplete: "new-password",
                placeholder: "New Password",
                class: "input input-lg input-primary w-full text-base-100 bg-base-200" %>
                <span class="floating-label-text">New Password</span>
            </label>

            <label class="floating-label mt-5">
              <%= f.password_field :password_confirmation,
                autocomplete: "new-password",
                placeholder: "Confirm New Password",
                class: "input input-lg input-primary w-full text-base-100 bg-base-200" %>
                <span class="floating-label-text">Confirm New Password</span>
            </label>

            <% if @minimum_password_length %>
              <p class="mt-2 text-xs text-base-200">
              <em><%= @minimum_password_length %> characters minimum</em>
              </p>
            <% end %>

            <div class="divider mb-4 mt-10">パスワード</div>

            <label class="floating-label mt-5">
              <%= f.password_field :current_password,
                autocomplete: "current-password",
                placeholder: "Current Password (required)",
                class: "input input-lg input-primary w-full text-base-100 bg-base-200" %>
                <span class="floating-label-text">Current Password</span>
            </label>
            <p class="mt-1 text-xs text-base-200">
            <em>※変更を確定するには現在のパスワードが必要です</em>
            </p>

            <div class="mt-8">
              <%= f.submit "保存",
                class:"btn btn-secondary w-full text-base-200" %>
            </div>
          <% end %>

          <div class="divider mb-4 mt-15">ユーザー削除</div>

          <div class="flex flex-col items-center">
            <%= button_to "アカウントを削除する", 
              registration_path(@user), 
              data: { confirm: "本当に削除しますか？", turbo_confirm: "本当に削除しますか？" }, 
              method: :delete, 
              class: "btn btn-error w-full" %>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-action flex justify-center">
      <form method="dialog">
        <button class="btn btn-accent px-9">
          <span class="material-symbols-outlined">
            close
          </span>
        </button>
      </form>
    </div>
  </div>

</dialog>
