<!-- flashメッセージ -->
<div id="flash" class="fixed m-5 top-0 left-0 right-0 z-50">
  <%= render "flash" %>
</div>

<div class="flex items-center justify-center min-h-screen px-6">
  <div class="card bg-base-300 w-2xl h-2xl p-10 flex justify-center z-10">
    <div>
      <!-- ロゴ -->
      <div class="flex justify-center mx-auto">
        <%= link_to root_path do %>
          <%= image_tag 'icon-512x512.png', width: "90" %>
        <% end %>
      </div>

      <%= render "error_messages", resource: resource %>

      <!-- タイトルタブ -->
      <div class="flex items-center justify-center mt-6 text-secondary">
        <div role="tablist" class="tabs tabs-border">
          <a href="<%= new_session_path(resource_name) %>" role="tab" class="tab">ログイン</a>
          <a role="tab" class="tab tab-active">新規登録</a>
        </div>
      </div>

      <!-- 新規登録フォーム -->
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data:{ turbo: false, action: "submit->loading#show"}, html: { class: "w-full mt-6" }) do |f| %>

        <label class="floating-label">
          <%= f.text_field :name,
            autofocus: true,
            autocomplete: "name",
            placeholder: "ユーザーネーム",
            class: "input input-lg input-primary w-full text-base-100 bg-base-200" %>
          <span class="floating-label-text">ユーザーネーム</span>
        </label>

        <label class="floating-label mt-5">
          <%= f.text_field :email,
            autocomplete: "email",
            placeholder: "メールアドレス",
            class: "input input-lg input-primary w-full text-base-100 bg-base-200" %>
          <span class="floating-label-text">メールアドレス</span>
        </label>

        <label class="floating-label mt-9">
          <%= f.password_field :password,
            autocomplete: "new-password",
            placeholder: "パスワード",
            class: "input input-lg input-primary w-full text-base-100 bg-base-200" %>
          <span class="floating-label-text">パスワード</span>
        </label>

        <label class="floating-label mt-5">
          <%= f.password_field :password_confirmation,
            autocomplete: "new-password",
            placeholder: "パスワード(確認)",
            class: "input input-lg input-primary w-full text-base-100 bg-base-200" %>
          <span class="floating-label-text">パスワード(確認)</span>
        </label>

        <% if @minimum_password_length %>
          <p class="mt-2 text-xs">
          <em><%= @minimum_password_length %> 文字以上にしてください</em>
          </p>
        <% end %>

        <div class="mt-6">
          <%= f.submit "登録", class:"btn btn-secondary w-full text-base-200" %>
        </div>
      <% end %>

      <div class="mt-8 text-center">
        <%= link_to "アカウントをお持ちの方はこちら", new_session_path(resource_name), class: "text-sm text-base-200 hover:underline" %>
      </div>

      <div class="divider my-8">
        または
      </div>
      <div class="flex justify-center items-center">
        <%= button_to user_line_omniauth_authorize_path, data: { turbo: false } do %>
          <div class="btn bg-[#03C755] text-white rounded-lg w-50">
            <svg aria-label="Line logo" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g fill-rule="evenodd" stroke-linejoin="round" fill="white"><path fill-rule="nonzero" d="M12.91 6.57c.232 0 .42.19.42.42 0 .23-.188.42-.42.42h-1.17v.75h1.17a.42.42 0 1 1 0 .84h-1.59a.42.42 0 0 1-.418-.42V5.4c0-.23.188-.42.42-.42h1.59a.42.42 0 0 1-.002.84h-1.17v.75h1.17zm-2.57 2.01a.421.421 0 0 1-.757.251l-1.63-2.217V8.58a.42.42 0 0 1-.42.42.42.42 0 0 1-.418-.42V5.4a.418.418 0 0 1 .755-.249L9.5 7.366V5.4c0-.23.188-.42.42-.42.23 0 .42.19.42.42v3.18zm-3.828 0c0 .23-.188.42-.42.42a.42.42 0 0 1-.418-.42V5.4c0-.23.188-.42.42-.42.23 0 .418.19.418.42v3.18zM4.868 9h-1.59c-.23 0-.42-.19-.42-.42V5.4c0-.23.19-.42.42-.42.232 0 .42.19.42.42v2.76h1.17a.42.42 0 1 1 0 .84M16 6.87C16 3.29 12.41.376 8 .376S0 3.29 0 6.87c0 3.208 2.846 5.896 6.69 6.405.26.056.615.172.705.394.08.2.053.518.026.722 0 0-.092.565-.113.685-.035.203-.16.79.693.432.854-.36 4.607-2.714 6.285-4.646C15.445 9.594 16 8.302 16 6.87"></path></g></svg>
            LINEで登録
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
