<%
            constants = {
              header_height: GanttChartHelper::MILESTONE_HEADER_HEIGHT,
              header_shift_up: GanttChartHelper::MILESTONE_HEADER_SHIFT_UP,
              width_margin: GanttChartHelper::MILESTONE_HEADER_WIDTH_MARGIN,
              left_margin: GanttChartHelper::MILESTONE_HEADER_LEFT_MARGIN
            }

            # MilestoneChartPresenterを使って、milestoneのデータを取得
            chart_data =  chart_presenter.chart_data
            milestone_presenter = MilestoneChartPresenter.new(milestone, chart_data[:date_range], chart_data[:milestone_widths], chart_data[:milestone_lefts], chart_data[:current_user])
            milestone_data = milestone_presenter.milestone_data
          %>

          <!-- milestone名前 -->
          <div class="absolute border-3 rounded-md flex flex-col items-center z-30"
            style="top: <%= milestone_data[:top] - constants[:header_shift_up] %>px;
            height: <%= constants[:header_height] %>px;
            width: <%= milestone_data[:width] - constants[:width_margin] %>px;
            left: <%= milestone_data[:left] + constants[:left_margin] %>px;
            background-color: <%= milestone_data[:color] %>cc;
            border-color: <%= milestone_data[:color] %>cc;
            ">

            <% if milestone.open? %>
              <%= milestone.title.truncate(milestone_data[:truncate_num], omission: '...') %>
            <% end %>
          </div>

          <!-- milestone本体、内部にtask -->
          <div class="absolute border-3 rounded-md"
            style="top: <%= milestone_data[:top] %>px; 
            height: <%= milestone_data[:height] %>px; 
            width: <%= milestone_data[:width] %>px; 
            left: <%= milestone_data[:left] %>px;
            background-color: <%= milestone_data[:color] %>50;
            border-color: <%= milestone_data[:color] %>cc;
            ">

            <% if milestone.open? %>
              <!-- Task（丸と線） -->
              <div id="chart_<%=milestone.id%>">
                <% milestone_data[:tasks].each do |task| %>
                  <%= render "gantt_chart/task_chart", task: task, tasks: milestone_data[:tasks] %>
                <% end %>
              </div>

            <% else %>

              <%= button_to milestone_open_toggle_path(milestone), class: "hover:cursor-pointer hover:bg-base-100/30 w-full mt-2", method: :patch, data: { action: "click->loading#show" } do %>
                <span class="material-symbols-outlined">
                  left_panel_open
                </span>
                <div class="flex w-full justify-start items-center [writing-mode:vertical-rl]">
                  <div>
                  <%= milestone.title.truncate(milestone_data[:truncate_num], omission: '...') %>
                  </div>
                </div>
              <% end %>

            <% end %>
          </div>
