<%
            start_index = @date_range.index { |d| d.to_date == milestone.start_date.to_date }
            end_index = @date_range.index { |d| d.to_date == milestone.end_date.to_date }
            milestone_height = (end_index - start_index + 1) * 40
            milestone_top = start_index * 40

            # milestoneチャートの幅と位置
            milestone_width = @milestone_widths[milestone.id]
            milestone_left = @milestone_lefts[milestone.id]

            # 色の設定(taskもこの色を使う)
            milestone_color = milestone.color
            truncate_num = [milestone.tasks.count * 2, 10].max
            # すでにソートされたTasksをメモリ内で取得する
            tasks = milestone.tasks.valid_dates.start_date_asc.to_a
          %>

          <!-- milestone名前 -->
          <div class="absolute border-3 rounded-md flex flex-col items-center z-30"
            style="top: <%= milestone_top - 30 %>px;
            height: 35px;
            width: <%= milestone_width.to_i - 20 %>px;
            left: <%= milestone_left.to_i + 10 %>px;
            background-color: <%= milestone_color %>cc;
            border-color: <%= milestone_color %>cc;
            ">

            <%= milestone.title.truncate(truncate_num, omission: '...') %>
          </div>

          <!-- milestone本体、内部にtask -->
          <div class="absolute border-3 rounded-md"
            style="top: <%= milestone_top %>px; 
            height: <%= milestone_height %>px; 
            width: <%= milestone_width %>px; 
            left: <%= milestone_left.to_i %>px;
            background-color: <%= milestone_color %>50;
            border-color: <%= milestone_color %>cc;
            ">

            <!-- Task（丸と線） -->
            <%# valid_datesでstart_dateかend_dateが無いtaskを弾く %>
            <div id="chart_<%=milestone.id%>">
              <% tasks.each do |task| %>
                <%= render "gantt_chart/task_chart", task: task, tasks: tasks %>
              <% end %>
            </div>
          </div>
