<%= turbo_frame_tag "milestone_show_modal" do %>
  <div data-controller="show-modal">
  <div data-controller="modal">
    <div data-show-modal-target="modal_top">
      <dialog data-modal-target="to_not_blur" data-show-modal-target="task_modal" id="milestone_show_modal" class="modal" <%= @tasks_show_modal_open ? 'open' : ' ' %> >
        <div class="modal-box w-xl max-h-[95dvh] max-w-[85dvw] text-xs md:text-sm p-1 bg-transparent">
          <div class="flex items-center justify-center">
            <div class="glasscard card z-10 flex h-2xl w-full justify-center p-5 text-center md:w-2xl text-base-300">
              <div>

                <!-- タスク詳細表示 -->
                <div class="space-y-3">
                  <!-- タイトル -->
                  <div class="flex w-full items-center justify-center">
                    <div class="card w-full ">
                      <div class="flex w-full items-center justify-center rounded-xl text-lg md:text-xl p-2 md:p-3">
                        <div class="flex items-center gap-x-2 text-base-200">
                          <%= render "stars_icon", { width: 35, height: 35, color: @milestone.color } %>
                          <%= @milestone.title %>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- 進捗バー -->
                  <div class="my-5 md:my-10 h-10 md:h-12 rounded-full bg-primary px-5 text-lg md:text-xl">
                    <%= render "milestones/milestone_completed_percent_bar", milestone: @milestone, milestone_tasks: @milestone_tasks %>
                  </div>

                  <!-- 期間 -->
                  <% start_date_and_end_date_present = @milestone.start_date.present? && @milestone.end_date.present? %>
                  <% if @milestone.start_date.present? || @milestone.end_date.present? %>
                    <div class="flex w-full px-5 <%= start_date_and_end_date_present ? "justify-between" : "justify-center" %>">
                      <% if @milestone.start_date.present? %>
                        <div class="card flex h-full w-2/5 flex-col justify-center bg-primary p-1 md:p-2">
                          <div class="text-xs md:text-base">
                            <%= @milestone.start_date&.year %>
                          </div>
                          <div class="w-full font-bold text-sm md:text-2xl">
                            <%= to_short_date(@milestone.start_date) %>
                          </div>
                        </div>
                      <% end %>
                      <div class="flex w-1/5 items-center justify-center">
                        <p class="w-full text-3xl md:text-5xl text-primary">~</p>
                      </div>
                      <% if @milestone.end_date.present? %>
                        <div class="card flex h-full w-2/5 flex-col justify-center bg-primary p-1 md:p-2">
                          <div class="text-xs md:text-base">
                            <%= @milestone.end_date&.year %>
                          </div>
                          <div class="w-full font-bold text-sm md:text-2xl">
                            <%= to_short_date(@milestone.end_date) %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% else %>
                    <div class="flex w-full justify-center">
                      <div class="card w-full bg-primary p-10 ">
                        日付は設定されていません
                      </div>
                    </div>
                  <% end %>

                  <!-- 説明 -->
                  <div class="flex w-full items-center justify-center">
                    <div class="card w-full ">
                      <p class="card-title h-5 pl-2 text-xs md:text-sm text-primary">詳細</p>
                      <div class="flex min-h-16 md:min-h-24 w-full items-center justify-center rounded-xl bg-primary p-2 md:p-3 text-xs md:text-sm">
                        <%= @milestone.description.present? ? safe_join(@milestone.description.split("\n"),tag(:br)) : "詳細はありません" %>
                      </div>
                    </div>
                  </div>

                  <div class="flex items-center justify-center mt-5 text-base-200">
                    <div>
                      <div class="mb-3 flex items-center justify-end">
                        <div class="mr-2 text-center">
                          全体に公開する：
                        </div>
                        <% if @milestone.is_public %>
                          <span class="badge badge-md badge-primary md:badge-lg">ON</span>
                        <% else %>
                          <span class="badge badge-md badge-base-300 md:badge-lg">OFF</span>
                        <% end %>
                      </div>

                      <div class="flex items-center">
                        <div class="mr-2 text-center">
                          チャートに表示する：
                        </div>
                        <% if @milestone.is_on_chart %>
                          <span class="badge badge-md badge-primary md:badge-lg">ON</span>
                        <% else %>
                          <span class="badge badge-md badge-base-300 md:badge-lg">OFF</span>
                        <% end %>
                      </div>
                    </div>
                  </div>


                  <!-- アクションボタン -->
                  <div class="flex h-10 md:h-12 w-full mt-6 justify-center ">
                    <%= link_to "詳細", milestone_path(@milestone), data: { turbo: false }, class: "btn btn-base-100 bg-base-100 h-10 md:h-12 w-20 md:w-25 md:w-42 text-xs md:text-sm" %>
                  </div>
                </div>

                <div class="modal-action flex justify-center mt-7">
                  <form method="dialog">
                    <button data-modal-target="close" class="btn btn-accent size-9">
                      <span class="material-symbols-outlined">
                        close
                      </span>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <form method="dialog" class="modal-backdrop">
          <button data-modal-target="close">close</button>
        </form>
      </dialog>
    </div>
  </div>
  </div>
<% end %>
