<div class="container mx-auto p-4">
  <%= render "flash" %>
  <%= render "chart_layout", 
             date_range: @date_range, 
             milestones: @milestones, 
             milestone_widths: @milestone_widths, 
             milestone_lefts: @milestone_lefts, 
             chart_total_width: @chart_total_width %>
</div>


<div class="mt-10">
  <%= render "menu_bar" %>
</div>
<%= turbo_frame_tag "tasks_edit_modal" %>
<%= turbo_frame_tag "milestone_show_modal" %>
<%= turbo_frame_tag "tasks_copy_modal" %>

<% @milestones.each do |milestone| %>
  <% milestone.tasks.each do |task| %>
    <%= turbo_frame_tag "tasks_show_modal_#{task.id}", src: task_path(task) %>
  <% end %>
<% end %>

<script>
  // ページ遷移時にidがtodayの要素をスクロールして表示
  document.addEventListener("turbo:load", function() {
    const todayElement = document.getElementById("today");
    if (todayElement) {
      todayElement.scrollIntoView({ behavior: "smooth", block: "center" });
    }
  });
</script>
