<% @single_milestone_updates.each do |update_data| %>
  <% milestone = update_data[:milestone] %>
  <% chart_presenter = update_data[:chart_presenter] %>
  <% chart_data = update_data[:chart_data] %>
  
  <%# ヘッダー部分の更新 %>
  <%= turbo_stream.replace "milestone_header_#{milestone.id}" do %>
    <%= render "gantt_chart/milestone_header", milestone: milestone, chart_data: chart_data %>
  <% end %>
  
  <%# チャート部分の更新 %>
  <%= turbo_stream.replace "milestone_chart_#{milestone.id}" do %>
    <div id="milestone_chart_<%=milestone.id%>">
      <%= render "gantt_chart/chart", milestone: milestone, chart_presenter: chart_presenter %>
    </div>
  <% end %>
<% end %>
