  <%= turbo_stream.replace "flash" do %>
    <%= render "flash" %>
  <% end %>

  <%= turbo_stream.replace "loading_close" do %>
    <div id="loading_close" data-controller="loading-close"></div>
  <% end %>

  <% if @task_create_success %>
   <%= turbo_stream.replace "tasks_new_stream_target" do %>
      <%= render "tasks_new_modal", task: Task.new, milestones: @milestones %>
    <% end %>

    <%= turbo_stream.prepend "tasks_content" do %>
      <%= render "tasks/task", task: @task %>
    <% end %>

    <%= turbo_stream.append "tasks_show_modals" do %>
      <%= render "tasks/tasks_show_modal", task: @task, tasks_show_modal_open: false %>
    <% end %>

  <% else %>
    <%= turbo_stream.replace "tasks_new_stream_target" do %>
      <%= render "tasks_new_modal", task: @task, milestones: @milestones, task_new_modal_open: @task_new_modal_open %>
    <% end %>
  <% end %>


  <% if @task_milestone && @task_create_success == true && @task_milestone.on_chart? %>
    <%= turbo_stream.replace "chart_#{@task_milestone.id}" do %>
      <div id="chart_<%=@task_milestone.id%>">
      <% @chart_tasks.each do |task| %>
        <%= render "gantt_chart/task_chart", task: task, tasks: @chart_tasks%>
      <% end %>
      </div>
    <% end %>
  <% end %>
