  <%= turbo_stream.replace "flash" do %>
    <%= render "flash" %>
  <% end %>

  <%= turbo_stream.replace "loading_close" do %>
    <%= turbo_frame_tag "loading_close", data: { controller: "loading-close" } %>
  <% end %>

  <% if @task_create_success %>
    <%= turbo_stream.replace "tasks_new_modal" do %>
      <%= render "tasks_new_modal", task: Task.new, milestones: @milestones %>
    <% end %>

    <%= turbo_stream.prepend "tasks_content" do %>
      <%= render "tasks/task", task: @task %>
    <% end %>

    <%= turbo_stream.append "tasks_show_modals" do %>
      <%= turbo_frame_tag "tasks_show_modal_#{@task.id}", src: task_path(@task)%>
    <% end %>

  <% else %>
    <%= turbo_stream.replace "tasks_new_modal" do %>
      <%= render "tasks_new_modal", task: @task, milestones: @milestones, tasks_edit_modal_open: @tasks_edit_modal_open %>
    <% end %>
  <% end %>


  <% if @task.milestone && @task_create_success == true && @task.milestone.is_on_chart == true %>
    <%= turbo_stream.replace "chart_#{@task_milestone.id}" do %>
      <div id="chart_<%=@task_milestone.id%>">
      <% @task_milestone.tasks.valid_dates.each do |task| %>
        <%= render "gantt_chart/task_chart", task: task, tasks: @task_milestone.tasks.start_date_asc.to_a %>
      <% end %>
      </div>
    <% end %>
  <% end %>
