<div class="h-full w-full">
  <!-- タイトル -->
  <%= render 'title_header', title: @title %>

  <!-- 内容表示部分 -->
  <div class="relative z-10 min-h-screen space-y-5 rounded-t-[4rem] border-x-1 border-t-1 border-base-200 bg-base-300/30 p-8 text-center text-base-200 xl:text-xl">

    <!-- フラッシュメッセージ -->
    <div id="flash" class="fixed m-5 top-0 left-0 right-0 z-50">
      <%= render 'flash' %>
    </div>

    <%# 新しいリリース通知 %>
    <%= render "new_release_notification" %>

    <!-- 表示部分 -->
    <div class="flex w-full items-center justify-center mb-10">


      <div class="tabs tabs-lift w-xl">
        <!-- 未完了のタスク -->
        <input type="radio" name="my_tabs" class="tab w-1/6" aria-label="未完了" checked="checked"/>
        <div class="tab-content bg-base-100 p-3">

          <!-- ソートの切り替えセレクト -->
          <div class="mb-3">
            <%= render "search_or_sort_select", q: @q, path: tasks_path, _progress: "not_completed" %>
          </div>

          <!-- タスクの追加ボタン -->
          <%# ゲストユーザーの時は、追加ボタン無効化されます %>
          <%= render "tasks/add_task_button" %>
          <!-- ボタンの移動を通知 -->
          <%= render "add_button_notification" %>

          <!-- タスク -->
          <%= turbo_frame_tag "search_sort_content_frame" do %>
            <%= render "tasks", tasks: @not_completed_tasks %>
          <% end %>

        </div>

        <!-- completed -->
        <input type="radio" name="my_tabs" class="tab w-1/6" aria-label="完了" />
        <div class="tab-content bg-base-100 p-3">

          <!-- ソートの切り替えセレクト -->
          <div class="mb-3">
            <%= render "search_or_sort_select", q: @q, path: tasks_path, _frame_target: "secondary", _progress: "completed" %>
          </div>

          <!-- タスク -->
          <%= turbo_frame_tag "secondary_search_sort_content_frame" do %>
            <%= render "tasks", tasks: @completed_tasks %>
          <% end %>
        </div>

      </div>
    </div>
  </div>

  <%= render "menu_bar" %>


  <%= turbo_frame_tag "tasks_edit_modal" %>
  <%= turbo_frame_tag "tasks_copy_modal" %>
  <%= render "tasks/tasks_new_modal", task: @task, milestones: @milestones %>

  <div id="tasks_show_modals">
  <% @not_completed_tasks.each do |task| %>
    <%= render "tasks/tasks_show_modal", task: task, tasks_show_modal_open: false %>
  <% end %>
  <% @completed_tasks.each do |task| %>
    <%= render "tasks/tasks_show_modal", task: task, tasks_show_modal_open: false %>
  <% end %>
  </div>
