<div class="h-full w-full">
  <!-- 月の画像 -->
  <%= render 'title_header', title: @title %>

  <!-- 内容表示部分 -->
  <div class="relative z-10 min-h-screen space-y-5 rounded-t-[4rem] border-x-1 border-t-1 border-base-200 bg-base-300/30 p-8 text-center text-base-200 xl:text-xl">

    <!-- フラッシュメッセージ -->
    <div id="flash" class="fixed m-5 top-0 left-0 right-0 z-50">
      <%= render 'flash' %>
    </div>

    <div class="text-center text-3xl text-base-200">
      <%= @user.name %>
    </div>


    <!-- 表示部分 -->
    <div class="flex w-full items-center justify-center mb-10">
      <div class="tabs tabs-lift w-xl">
        <!-- 未完了のタスク -->
        <input type="radio" name="my_tabs" class="tab w-1/6" aria-label="未完了" checked="checked"/>
        <div class="tab-content bg-base-100 p-3">

          <!-- ソートの切り替えセレクト -->
          <div class="mb-3">
            <%= render "tasks/sort_select", q: @q %>
          </div>

          <!-- タスクの追加ボタン -->
          <%# ゲストユーザーの時は、追加ボタン無効化されます %>
          <%= render "tasks/add_task_button" %>

          <!-- タスク -->
          <%= render "tasks", tasks: @not_completed_tasks %>

        </div>

        <!-- completed -->
        <input type="radio" name="my_tabs" class="tab w-1/6" aria-label="完了" />
        <div class="tab-content bg-base-100 p-3">

          <!-- ソートの切り替えセレクト -->
          <%= render "tasks/sort_select", q: @q %>

          <!-- タスク -->
          <%= render "tasks", tasks: @completed_tasks %>
        </div>

      </div>
    </div>
  </div>


  <div class="mt-10" >
    <%= render "menu_bar" %>
  </div>
  <%= turbo_frame_tag "tasks_edit_modal" %>
  <%= turbo_frame_tag "tasks_new_modal" %>
  <%= turbo_frame_tag "tasks_copy_modal" %>

  <% @not_completed_tasks.each do |task| %>
    <%= turbo_frame_tag "tasks_show_modal_#{task.id}", src: task_path(task)%>
  <% end %>
  <% @completed_tasks.each do |task| %>
    <%= turbo_frame_tag "tasks_show_modal_#{task.id}", src: task_path(task)%>
  <% end %>
