  <div data-controller="show-modal">
    <div data-show-modal-target="modal_top">
      <dialog data-show-modal-target="task_modal" id="tasks_new_modal" class="modal" <%= @task_new_modal_open ? 'open' : ' ' %> >
        <div class="modal-box">
          <div class="flex items-center justify-center">
            <div class="card bg-base-300 w-2xl h-2xl p-5 flex justify-center z-10">
              <div>

                <!-- タイトルタブ -->
                <div class="flex items-center justify-center text-secondary">
                  <p class="text-xl">タスク作成</p>
                </div>

                <!-- エラーメッセージ -->
                <%= render "error_messages", resource: @task%>

                <!-- 編集フォーム -->
                <%= form_for(@task, as: @task, url: tasks_path, html: { method: :post, class: "w-full mt-6 p-2" }) do |f| %>

                  <label class="floating-label">
                    <%= f.collection_select :milestone_id, @milestones, :id, :title,
                      { include_blank: "Select Milestone" },
                      class: "select select-lg select-primary w-full text-base-100 bg-base-200" %>
                    <span class="floating-label-text">Milestone</span>
                  </label>

                  <label class="floating-label mt-10">
                    <%= f.text_field :title,
                      autofocus: true,
                      autocomplete: "title",
                      placeholder: "Title",
                      class: "input input-lg input-primary w-full text-base-100 bg-base-200" %>
                    <span class="floating-label-text">Title</span>
                  </label>

                  <div class="flex items-center justify-between mt-10">
                    <label class="floating-label">
                      <%= f.date_field :start_date,
                        autocomplete: "Start Date",
                        placeholder: "Start Date",
                        class: "textarea textarea-lg w-full text-base-100 bg-base-200 rounded-lg" %>
                      <span class="floating-label-text">Start Date</span>
                    </label>

                    <p class="text-2xl">~</p>

                    <label class="floating-label">
                      <%= f.date_field :end_date,
                        autocomplete: "End Date",
                        placeholder: "End Date",
                        class: "textarea textarea-lg w-full text-base-100 bg-base-200 rounded-lg" %>
                      <span class="floating-label-text">End Date</span>
                    </label>
                  </div>

                  <label class="floating-label mt-10">
                    <%= f.text_area :description,
                      autocomplete: "description",
                      placeholder: "Description",
                      class: "textarea textarea-lg input-primary w-full text-base-100 bg-base-200 rounded-lg" %>
                    <span class="floating-label-text">Description</span>
                  </label>

                  <label class="floating-label mt-10">
                    <%= f.collection_select :progress, Task.progresses.keys, :to_s, :humanize,
                      { include_blank: "Select Progress" },
                      class: "select select-lg select-primary w-full text-base-100 bg-base-200" %>
                    <span class="floating-label-text">Progress</span>
                  </label>


                  <div class="mt-10">
                    <%= f.submit "作成", class:"btn btn-secondary w-full text-base-200" %>
                  </div>
                <% end %>

              </div>
            </div>
          </div>
          <div class="modal-action flex justify-center">
            <form method="dialog">
              <button class="btn btn-accent px-9">
                <span class="material-symbols-outlined">
                  close
                </span>
              </button>
            </form>
          </div>
        </div>

      </dialog>
