<%= turbo_frame_tag "tasks_new_modal" do %>
  <div data-controller="show-modal">
    <div data-show-modal-target="modal_top">
      <dialog data-show-modal-target="task_modal" id="tasks_new_modal" class="modal" <%= @task_new_modal_open ? 'open' : ' ' %> >


        <!-- _tasks_new_form.html.erbも同様に編集する -->
        <!-- まずはturbo_frame_tagを使ってtasks/newでモーダルの部分を表示 -->
        <!-- tasks#createでturbo_stremasを使って、モーダルの部分を_tasks_new_modalファイルに置換しています -->

        <!-- ここからコピー to "_tasks_new_form.html.erb" -->
        <div class="modal-box max-h-[90vh]">
          <p class="pb-4 text-center">ESC or 下の(X)を押すと閉じます</p>
          <div class="flex w-full items-center justify-center">
            <div class="card bg-base-300 w-full h-2xl p-3 flex justify-center z-10">
              <div>

                <!-- タイトルタブ -->
                <div class="flex items-center justify-center text-secondary">
                  <p class="text-xl">タスク作成</p>
                </div>

                <!-- エラーメッセージ -->
                <%= render "error_messages", resource: @task %>

                <!-- 編集フォーム -->
                <%= form_for(@task, as: @task, url: tasks_path, html: { method: :post, class: "w-full mt-6 p-2" }) do |f| %>

                  <% if @from_milestone_show %>
                    <label class="floating-label">
                      <%= f.collection_select :milestone_id, @milestones, :id, :title,
                        {:selected => "#{@milestones.first.id}"},
                        class: "select select-lg select-primary w-full text-base-100 bg-base-200" %>
                      <span class="floating-label-text">Milestone</span>
                    </label>
                  <% else %>
                    <label class="floating-label">
                      <%= f.collection_select :milestone_id, @milestones, :id, :title,
                        { include_blank: "Select Milestone" },
                        class: "select select-lg select-primary w-full text-base-100 bg-base-200" %>
                      <span class="floating-label-text">Milestone</span>
                    </label>
                  <% end %>

                  <label class="floating-label mt-10">
                    <%= f.text_field :title,
                      autofocus: true,
                      autocomplete: "title",
                      placeholder: "Title",
                      class: "input input-lg input-primary w-full text-base-100 bg-base-200" %>
                    <span class="floating-label-text">Title</span>
                  </label>

                  <div class="flex justify-center">
                    <label class="mt-5 w-50">
                      <span class="text-base-200 text-sm">Start Date</span>
                      <%= f.date_field :start_date,
                        autocomplete: "Start Date",
                        placeholder: "Start Date",
                        class: "text-base-200 bg-base-100 rounded-full p-3 w-full" %>
                  </label>
                  </div>


                  <div class="flex justify-center">
                    <label class="mt-5 w-50">
                      <span class="text-base-200 text-sm">End Date</span>
                      <%= f.date_field :end_date,
                        autocomplete: "End Date",
                        placeholder: "End Date",
                        class: "text-base-200 bg-base-100 rounded-full p-3 w-full" %>
                  </label>
                  </div>

                  <label class="floating-label mt-5">
                    <%= f.text_area :description,
                      autocomplete: "description",
                      placeholder: "Description",
                      class: "textarea textarea-lg input-primary w-full text-base-100 bg-base-200 rounded-lg" %>
                    <span class="floating-label-text">Description</span>
                  </label>

                  <label class="floating-label mt-5">
                    <%= f.collection_select :progress, Task.progresses.keys, :to_s, :humanize,
                      { include_blank: "Select Progress" },
                      class: "select select-lg select-primary w-full text-base-100 bg-base-200" %>
                    <span class="floating-label-text">Progress</span>
                  </label>


                  <div class="mt-10">
                    <%= f.submit "作成", class:"btn btn-secondary w-full text-base-200" %>
                  </div>
                <% end %>

              </div>
            </div>
          </div>
          <div class="modal-action flex justify-center">
            <form method="dialog">
              <button class="btn btn-accent px-9">
                <span class="material-symbols-outlined">
                  close
                </span>
              </button>
            </form>
          </div>
        </div>
      <!-- ここまでコピー to "_tasks_new_form.html.erb" -->

      </dialog>
    </div>
    </div>
    <% end %>
