<%= turbo_stream.replace "loading_close" do %>
  <div id="loading_close" data-controller="loading-close"></div>
<% end %>

<%= turbo_stream.replace "tasks_edit_modal" do %>
  <%= render "tasks_edit_modal", task: @task, milestones: @milestones, tasks_edit_modal_open: @tasks_edit_modal_open %>
<% end %>

<%= turbo_stream.replace "flash" do %>
  <%= render "flash" %>
<% end %>

<%= turbo_stream.replace "tasks_show_modal_#{@task.id}" do %>
  <%= render "tasks_show_modal", task: (@tasks_update_success ? @task : @base_task), tasks_show_modal_open: @tasks_show_modal_open %>
<% end %>

<% if @tasks_update_success %>
  <%= turbo_stream.replace @task %>
<% end %>

<% if @tasks_update_success && @chart_milestones.present? %>
  <%= render "tasks/chart_updates" %>
<% end %>