  <%# update成功時も失敗時も呼ばれる %>
  <%# 成功時は@tasks_edit_modal_openを渡していないのでedit_modalは閉じた状態でreplaceされる %>
  <%# 成功時は@tasks_show_modal_open: trueを渡しているのでshow_modalは開いた状態でreplaceされる %>
  <%# 失敗時は@tasks_edit_modal_open: trueを渡しているのでedit_modalは開いた状態でreplaceされる %>
  <%# 失敗時は@tasks_show_modal_open: 渡していないのでshow_modalは閉じた状態でreplaceされる %>

  <%= turbo_stream.replace "loading_close" do %>
    <div id="loading_close" data-controller="loading-close"></div>
  <% end %>

  <%= turbo_stream.replace "tasks_edit_modal" do %>
    <%= render "tasks_edit_modal", task: @task, milestones: @milestones, tasks_edit_modal_open: @tasks_edit_modal_open %>
  <% end %>

  <%= turbo_stream.replace "flash" do %>
    <%= render "flash" %>
  <% end %>

  <%= turbo_stream.replace "tasks_show_modal_#{@task.id}" do %>
    <%= render "tasks_show_modal", task: @task, tasks_show_modal_open: @tasks_show_modal_open %>
  <% end %>

  <%= turbo_stream.replace @task %>

  <% if @task_milestone && @tasks_update_success == true && @task_milestone.on_chart? %>
    <%= turbo_stream.replace "chart_#{@task_milestone.id}" do %>
      <div id="chart_<%=@task_milestone.id%>">
      <% @tasks.each do |task| %>
        <%= render "gantt_chart/task_chart", task: task, tasks: @tasks %>
      <% end %>
      </div>
    <% end %>
  <% end %>
