<%= turbo_stream.replace "flash" do %>
  <%= render "flash" %>
<% end %>

<%= turbo_stream.replace "progress_button_#{@task.id}" do %>
  <%= render "progress_button", task: @task %>
<% end %>

<%= turbo_stream.replace "task_show_progress_button_id_#{@task.id}" do %>
  <div id="task_show_progress_button_id_<%= @task.id %>" class="flex w-full items-center justify-center">
  <%= render "progress_button", task: @task %>
  </div>
<% end %>

<% if @task_milestone && @task_milestone.on_chart? %>
  <%= turbo_stream.replace "chart_#{@task_milestone.id}" do %>
    <div id="chart_<%=@task_milestone.id%>">
    <% @tasks.each do |task| %>
      <%= render "gantt_chart/task_chart", task: task, tasks: @tasks %>
    <% end %>
    </div>
  <% end %>
<% end %>
