<div class="w-full h-full">
  <!-- 月の画像 -->
  <%= render 'title_header', title: @title %>

  <!-- 内容表示部分 -->
  <div class="z-10 space-y-5 bg-base-300/30  border-t-1 border-x-1 border-base-200 relative p-8 min-h-[90vh] text-center rounded-t-[4rem] xl:text-xl">

    <!-- フラッシュメッセージ -->
    <%= render 'flash' %>

    <div class=" text-center text-3xl">
      <%= @user.name %>
    </div>

    <%#-- 新しいリリース通知 %>
    <%= render "new_release_notification" %>

    <div class="p-5 space-y-10 text-neutral">
      <!-- Stat rows -->
      <div class="flex flex-col justify-center items-center w-full">
        <div class="bg-primary p-3 rounded-xl mb-5 w-full max-w-xl">
          <p>作成中の星座の数：<%= @not_completed_milestones.count %></p>
        </div>
        <div class="bg-primary p-3 rounded-xl w-full max-w-xl">
          <p>完成した星座の数：<%= @completed_milestones.count %></p>
        </div>
      </div>

      <div class="flex justify-center items-center w-full">
        <div class="bg-primary w-full max-w-xl p-3 rounded-xl min-h-[100px]">
          <% if @user.bio.blank? %>
            <p class="text-center">ここに自己紹介等が入ります</p>
          <% else %>
            <%= safe_join(@user.bio.split("\n"),tag(:br)) %>
          <% end %>
        </div>
      </div>

      <!-- ゲストユーザーの時は、ユーザー編集ボタンを無効化 -->
      <div class="flex justify-center items-center">
        <div class="flex w-xl items-center <%= current_user?(@user) ? 'justify-between' : 'justify-end' %>">

          <% if current_user&.guest? && current_user?(@user) %>
            <div class="tooltip" data-tip="ゲストユーザーは使用できません">
              <button class="btn btn-disabled rounded-lg">ユーザー編集</button>
            </div>
          <% elsif current_user?(@user) %>
            <div class="flex items-center space-x-3">
              <button class="btn btn-accent rounded-lg" onclick="edit_modal.showModal()">ユーザー編集</button>

              <button id="setting_button" class="btn bg-base-100 size-10" onclick="setting.showModal()">
                <span id="setting_mark" class="material-symbols-outlined text-base-200">
                  settings
                </span>
              </button>
            </div>
          <% end %>

          <%= render "x_share_button", instance: @user %>

        </div>
      </div>
    </div>


    <% if current_user&.guest? && current_user?(@user) %>
      <div class="flex justify-center items-center w-full">
        <div class="bg-base-100 w-full max-w-xl p-5 rounded-xl flex justify-center">
          <div class="text-center space-y-5">
            <p>ゲストユーザーを終了して、新規登録を行う</p>
            <%= link_to '終了', destroy_user_session_path, data: { turbo_method: :delete }, class: 'btn btn-accent rounded-lg w-50' %>
          </div>
        </div>
      </div>
    <% elsif current_user?(@user) && !@user.provider.present? %>
      <!-- LINE認証 -->
      <div class="flex justify-center items-center">
        <div class="bg-base-100 w-xl p-5 rounded-xl flex justify-center">
          <div class="text-center space-y-5">
            <p>認証して、LINEから確認する</p>
            <%= button_to user_line_omniauth_authorize_path, data: { turbo: false } do %>
            <div class="btn bg-[#03C755] text-white rounded-lg w-50">
              <svg aria-label="Line logo" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g fill-rule="evenodd" stroke-linejoin="round" fill="white"><path fill-rule="nonzero" d="M12.91 6.57c.232 0 .42.19.42.42 0 .23-.188.42-.42.42h-1.17v.75h1.17a.42.42 0 1 1 0 .84h-1.59a.42.42 0 0 1-.418-.42V5.4c0-.23.188-.42.42-.42h1.59a.42.42 0 0 1-.002.84h-1.17v.75h1.17zm-2.57 2.01a.421.421 0 0 1-.757.251l-1.63-2.217V8.58a.42.42 0 0 1-.42.42.42.42 0 0 1-.418-.42V5.4a.418.418 0 0 1 .755-.249L9.5 7.366V5.4c0-.23.188-.42.42-.42.23 0 .42.19.42.42v3.18zm-3.828 0c0 .23-.188.42-.42.42a.42.42 0 0 1-.418-.42V5.4c0-.23.188-.42.42-.42.23 0 .418.19.418.42v3.18zM4.868 9h-1.59c-.23 0-.42-.19-.42-.42V5.4c0-.23.19-.42.42-.42.232 0 .42.19.42.42v2.76h1.17a.42.42 0 1 1 0 .84M16 6.87C16 3.29 12.41.376 8 .376S0 3.29 0 6.87c0 3.208 2.846 5.896 6.69 6.405.26.056.615.172.705.394.08.2.053.518.026.722 0 0-.092.565-.113.685-.035.203-.16.79.693.432.854-.36 4.607-2.714 6.285-4.646C15.445 9.594 16 8.302 16 6.87"></path></g></svg>
              LINE
            </div>
            <% end %>
          </div>
        </div>
      </div>
    <% elsif current_user?(@user) && @user.provider.present? %>
      <div class="flex justify-center items-center">
        <div class="bg-base-100 w-xl p-5 rounded-xl flex justify-center">
          <div class="text-center space-y-5">
            <p>認証済み</p>

            <!-- LINE通知のON/OFF -->
            <div id="notifications_enabled" class="mb-8 flex items-center justify-center">
              <%= form_with model: @user, url: toggle_notifications_user_path(@user), method: :patch, local: false, class: "flex items-center justify-center" do |f| %>
                <%= f.label :is_notifications_enabled, "朝のLINE通知を受け取る：", class: "cursor-pointer mr-2 text-sm md:text-lg" %>
                <%= f.check_box :is_notifications_enabled, class: "toggle toggle-md md:toggle-xl bg-base-300 checked:bg-primary checked:text-accent checked:border-primary", onchange: "this.form.requestSubmit()" %>
              <% end %>

              <div class="dropdown dropdown-center ml-2">
                <div tabindex="0" role="button" class="btn btn-circle btn-ghost btn-xs text-info">
                  <span class="material-symbols-outlined text-base-200">
                    help
                  </span>
                </div>
                <div
                  tabindex="0"
                  class="card dropdown-content bg-base-100 rounded-box z-1 w-70 mr-18 md:mr-0 shadow-xl border-1">
                  <div tabindex="0" class="card-body text-sm px-1">
                    <div class="text-center">
                      <p class="mb-2">朝のお知らせを切り替えます</p>
                      <p>通知は毎朝 9時に送信されます</p>
                    </div>

                    <div class="divider"></div>

                    <div class="text-center">
                      <p>星座やタスクの開始日/終了日が近づくと</p>
                      <p class="mb-2">LINEでお知らせ</p>
                      <p>通知を受け取るには</p>
                      <p>LINE友達登録が必要です</p>
                    </div>

                    <div class="divider"></div>

                    <div class="text-center">
                      <p class="mb-2">開始日は3日前から</p>
                      <p>終了日は3日前から<br>または期限を過ぎてから3日以内の</p>
                      <p>星座やタスクをお知らせします</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- LINE友達登録案内 -->
            <div class="dropdown dropdown-center">
              <div tabindex="0" role="button" class="btn m-1 bg-[#03C755]">
              <svg aria-label="Line logo" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g fill-rule="evenodd" stroke-linejoin="round" fill="white"><path fill-rule="nonzero" d="M12.91 6.57c.232 0 .42.19.42.42 0 .23-.188.42-.42.42h-1.17v.75h1.17a.42.42 0 1 1 0 .84h-1.59a.42.42 0 0 1-.418-.42V5.4c0-.23.188-.42.42-.42h1.59a.42.42 0 0 1-.002.84h-1.17v.75h1.17zm-2.57 2.01a.421.421 0 0 1-.757.251l-1.63-2.217V8.58a.42.42 0 0 1-.42.42.42.42 0 0 1-.418-.42V5.4a.418.418 0 0 1 .755-.249L9.5 7.366V5.4c0-.23.188-.42.42-.42.23 0 .42.19.42.42v3.18zm-3.828 0c0 .23-.188.42-.42.42a.42.42 0 0 1-.418-.42V5.4c0-.23.188-.42.42-.42.23 0 .418.19.418.42v3.18zM4.868 9h-1.59c-.23 0-.42-.19-.42-.42V5.4c0-.23.19-.42.42-.42.232 0 .42.19.42.42v2.76h1.17a.42.42 0 1 1 0 .84M16 6.87C16 3.29 12.41.376 8 .376S0 3.29 0 6.87c0 3.208 2.846 5.896 6.69 6.405.26.056.615.172.705.394.08.2.053.518.026.722 0 0-.092.565-.113.685-.035.203-.16.79.693.432.854-.36 4.607-2.714 6.285-4.646C15.445 9.594 16 8.302 16 6.87"></path></g></svg>
                友達登録して、LINEからタスクをチェック
              </div>
              <div
                tabindex="0"
                class="dropdown-content card card-sm bg-base-100 z-1 w-[95vw] max-w-120 shadow-md">
                <div class="card-body p-3">
                  <div class="flex justify-center items-center">

                    <div class="flex flex-col items-center justify-center">
                      <p>QRコードから<br>友達登録</p>
                      <img src="https://qr-official.line.me/gs/M_174ywopt_BW.png?oat_content=qr" class="size-40">
                    </div>

                      <div class="divider divider-horizontal">OR</div>

                      <div class="max-w-2/5">
                        <p class="mb-3">リンクから<br>直接LINEで友達登録</p>
                          <a href="https://lin.ee/CLYHneYQ"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="20" border="0"></a>
                      </div>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    <% end %>

    <!-- タスクの表示部分 -->
    <!-- 表示部分 -->
    <div class="flex w-full items-center justify-center mb-10">
      <div class="tabs tabs-lift w-xl">
        <input type="radio" name="my_tabs" class="tab" aria-label="作成中の星座" checked="checked"/>
        <div class="tab-content border-base-300 bg-base-100 p-3">
          <!-- 星座 -->
         <%= render "milestones/milestones", milestones: @not_completed_milestones, completed: false %>
        </div>

        <!-- 完成済みの星座 -->
        <input type="radio" name="my_tabs" class="tab" aria-label="完成した星座" />
                <div class="tab-content border-base-300 bg-base-100 p-3">
          <!-- 星座 -->
          <%= render "milestones/milestones", milestones: @completed_milestones, completed: true %>
        </div>
      </div>
    </div>

  </div>

  <!-- メニューバー -->
  <%= render 'menu_bar' %>
</div>

<% if current_user?(@user) %>
  <!-- モーダル -->
  <%= render 'devise/registrations/edit_form_modal' %>
  <%= turbo_frame_tag "show_complete_page_modal" %>

  <div data-controller="modal">
    <dialog data-modal-target="to_not_blur" id="setting" class="modal">
      <div class="modal-box w-xl max-h-[90dvh] max-w-[85dvw] text-xs md:text-sm p-1 text-base-100 card bg-base-300 w-2xl h-2xl p-5 flex justify-center z-10">
        <h2 class="text-2xl font-bold mb-4">ユーザー編集</h2>

                <div class="modal-action flex justify-center mt-5">
          <form method="dialog">
            <button data-modal-target="close" class="btn btn-accent px-3">
              <span class="material-symbols-outlined">
                close
              </span>
            </button>
          </form>
        </div>

      </div>

      <form data-modal-target="close" method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
  </div>

<% end %>
