<div class="w-full h-full">
  <!-- 月の画像 -->
  <%= render 'title_header', title: @title %>

  <!-- 内容表示部分 -->
  <div class="z-10 space-y-5 bg-base-300/30  border-t-1 border-x-1 border-base-200 relative p-8 text-center rounded-t-[4rem] xl:text-xl">

    <!-- フラッシュメッセージ -->
    <div id="flash" class="fixed m-5 top-0 left-0 right-0 z-50">
      <%= render 'flash' %>
    </div>

    <div class=" text-center text-3xl">
      <%= @user.name %>
    </div>

    <div class="card bg-base-100 p-5 space-y-5 text-neutral">
      <!-- Stat rows -->
      <div class="bg-primary p-3 rounded-xl">
        <p>作成中の星座の数：<%= @not_completed_milestones.count %></p>
      </div>
      <div class="bg-primary p-3 rounded-xl">
        <p>完成した星座の数：<%= @completed_milestones.count %></p>
      </div>

      <div class="bg-primary flex justify-center w-full p-3 rounded-xl min-h-[100px] items-center">
        <% if @user.bio.blank? %>
          <p class="text-center">ここに自己紹介等が入ります</p>
        <% else %>
          <%= @user.bio %>
        <% end %>
      </div>

      <div class="flex <%= current_user?(@user) ? 'justify-between' : 'justify-end' %>">
        <% if current_user?(@user) %>
          <button class="btn btn-accent rounded-lg" onclick="edit_modal.showModal()">ユーザー編集</button>
        <% end %>
        <button class="btn btn-neutral rounded-lg px-3">
          <%= image_tag 'x-logo.png', class: 'h-6 w-6' %>
        </button>
      </div>
    </div>

    <% if current_user?(@user) %>
    <div class="bg-base-100 p-5 rounded-xl flex justify-center">
      <div class="text-center space-y-5">
        <p>認証して、LINEから確認する</p>
        <button class="btn bg-[#03C755] text-white rounded-lg w-50">
          <svg aria-label="Line logo" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g fill-rule="evenodd" stroke-linejoin="round" fill="white"><path fill-rule="nonzero" d="M12.91 6.57c.232 0 .42.19.42.42 0 .23-.188.42-.42.42h-1.17v.75h1.17a.42.42 0 1 1 0 .84h-1.59a.42.42 0 0 1-.418-.42V5.4c0-.23.188-.42.42-.42h1.59a.42.42 0 0 1-.002.84h-1.17v.75h1.17zm-2.57 2.01a.421.421 0 0 1-.757.251l-1.63-2.217V8.58a.42.42 0 0 1-.42.42.42.42 0 0 1-.418-.42V5.4a.418.418 0 0 1 .755-.249L9.5 7.366V5.4c0-.23.188-.42.42-.42.23 0 .42.19.42.42v3.18zm-3.828 0c0 .23-.188.42-.42.42a.42.42 0 0 1-.418-.42V5.4c0-.23.188-.42.42-.42.23 0 .418.19.418.42v3.18zM4.868 9h-1.59c-.23 0-.42-.19-.42-.42V5.4c0-.23.19-.42.42-.42.232 0 .42.19.42.42v2.76h1.17a.42.42 0 1 1 0 .84M16 6.87C16 3.29 12.41.376 8 .376S0 3.29 0 6.87c0 3.208 2.846 5.896 6.69 6.405.26.056.615.172.705.394.08.2.053.518.026.722 0 0-.092.565-.113.685-.035.203-.16.79.693.432.854-.36 4.607-2.714 6.285-4.646C15.445 9.594 16 8.302 16 6.87"></path></g></svg>
          LINE
        </button>
        </div>
    </div>
    <% end %>

    <!-- タスクの表示部分 -->
    <!-- 表示部分 -->
    <div class="flex w-full items-center justify-center mb-10">
      <div class="tabs tabs-lift w-xl">
        <input type="radio" name="my_tabs" class="tab" aria-label="作成中の星座" checked="checked"/>
        <div class="tab-content border-base-300 bg-base-100 p-3">
          <!-- 星座 -->
         <%= render "milestones/milestones", milestones: @not_completed_milestones, completed: false %>
        </div>

        <!-- 完成済みの星座 -->
        <input type="radio" name="my_tabs" class="tab" aria-label="完成した星座" />
                <div class="tab-content border-base-300 bg-base-100 p-3">
          <!-- 星座 -->
          <%= render "milestones/milestones", milestones: @completed_milestones, completed: true %>
        </div>
      </div>
    </div>

  </div>

  <!-- メニューバー -->
  <div class="mt-10">
    <%= render 'menu_bar' %>
  </div>
</div>

<% if current_user?(@user) %>
  <!-- モーダル -->
  <%= render 'devise/registrations/edit_form_modal' %>
<% end %>
