  <div class="flex items-center justify-center min-h-screen px-6">
    <div class="card bg-base-300 w-2xl h-2xl p-10 flex justify-center z-10">
    <div>
      <!-- ロゴ -->
      <div class="flex justify-center mx-auto">
        <%= image_tag "mikaduki.png", width: "90" %>
      </div>

      <!-- タイトルタブ -->
      <div class="flex items-center justify-center mt-6 text-secondary">
        <div role="tablist" class="tabs tabs-border">
          <a role="tab" class="tab tab-active">ログイン</a>
          <a href="<%= new_registration_path(resource_name) %>" role="tab" class="tab">新規登録</a>
        </div>
      </div>

      <!-- ログインフォーム -->
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}, html: { class: "w-full mt-6" }) do |f| %>

        <label class="floating-label mt-5">
          <%= f.text_field :email,
                autofocus: true,
                autocomplete: "email",
                placeholder: "Email address",
            class: "input input-lg input-primary w-full text-base-100 bg-base-200" %>
          <span class="floating-label-text">Email</span>
        </label>

        <label class="floating-label mt-5">
          <%= f.password_field :password,
            autocomplete: "current-password",
            placeholder: "Password",
            class: "input input-lg input-primary w-full text-base-100 bg-base-200" %>
          <span class="floating-label-text">Email</span>
        </label>

        <%= f.submit "ログイン", class: "btn btn-secondary text-base-200 w-full mt-5" %>
      <% end %>

      <div class="mt-6 text-center space-y-2">
        <%= link_to "パスワードを忘れた場合はこちら", new_password_path(resource_name), class: "text-sm hover:underline" %>
      </div>
      <div class="mt-4 text-center space-y-2">
        <%= link_to "アカウント作成はこちら", new_registration_path(resource_name), class: "text-sm hover:underline" %>
      </div>
    </div>
    </div>
  </div>
