
<div id="menu_bar" class="z-100 dock dock-md md:dock-lg glasscard">

  <div class="dropdown dropdown-top hover:opacity-100">
    <button tabindex="0" class="flex flex-col w-full h-full items-center justify-center hover:opacity-60 active:opacity-60 hover:cursor-pointer">
      <span class="material-symbols-outlined">menu</span>
      <span class="dock-label">メニュー</span>
    </button>
    <ul tabindex="0" class="bg-base-300/95 dropdown-content menu rounded z-120 p-5 inline-flex p-2 shadow-xl text-2xl">

      <% if user_signed_in? %>

        <li>
          <%= link_to  destroy_user_session_path, data: { turbo_method: :delete, action: "click->loading#show" }, class: "whitespace-nowrap text-base-200 flex items-center inline-flex w-full" do %>
            <span class="material-symbols-outlined">
              logout
            </span>
            <p class="whitespace-nowrap">ログアウト</p>
          <% end %>
        </li>
        <li>
          <%= link_to user_path(current_user), class: "whitespace-nowrap text-base-200 flex items-center inline-flex w-full", data: { action: "click->loading#show" } do %>
            <span class="material-symbols-outlined">
              person
            </span>
            <p class="whitespace-nowrap"> <%= current_user.name %> </p>
          <% end %>
        </li>

      <% else %>

        <li>
          <%= link_to new_user_session_path, class: "whitespace-nowrap text-base-200 flex items-center inline-flex w-full", data: { action: "click->loading#show" } do %>
            <span class="material-symbols-outlined">
              login
            </span>
            <p class="whitespace-nowrap">ログイン</p>
          <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path, class: "flex items-center", data: { action: "click->loading#show" } do %>
            <span class="material-symbols-outlined">
              person_add
            </span>
            <p class="whitespace-nowrap">新規登録</p>
          <% end %>
        </li>

      <% end %>

      <div class="divider"></div>

      <li>
        <%= link_to milestones_path, class: "flex items-center", data: { action: "click->loading#show" } do %>
          <%= render 'stars_icon' %>
          <p class="whitespace-nowrap"> 星座一覧 </p>
        <% end %>
      </li>

      <li>
        <%= link_to constellations_path, class: "flex items-center", data: { action: "click->loading#show" } do %>
          <span class="material-symbols-outlined">
            auto_stories
          </span>
          <p class="whitespace-nowrap"> 88星座図鑑 </p>
        <% end %>
      </li>

      <li>
        <%= link_to tasks_path, class: "flex items-center", data: { action: "click->loading#show" } do %>
          <div class="pt-1">
            <%= render 'tasks_icon' %>
          </div>
          <p class="whitespace-nowrap"> タスク一覧 </p>
        <% end %>
      </li>

      <li>
        <%= link_to gantt_chart_path, class: "flex items-center", data: { action: "click->loading#show" } do %>
          <span class="material-symbols-outlined">
            stacked_bar_chart
          </span>
          <p class="whitespace-nowrap"> ガントチャート </p>
        <% end %>
      </li>

      <li>
        <%= link_to how_to_use_path, class: "flex items-center", data: { action: "click->loading#show" } do %>
          <span class="material-symbols-outlined">
            help
          </span>
          <p class="whitespace-nowrap">使い方</p>
        <% end %>
      </li>

      <div class="divider"></div>

      <li><a href="/terms_of_service">利用規約</a></li>
      <li><a href="/privacy_policy" class="whitespace-nowrap">プライバシーポリシー</a></li>
      <li><a href="https://forms.gle/jZMiYRtYCJ6w4ni88">お問い合わせ</a></li>

      <div class="divider"></div>

      <li class="w-full">
        <a href="https://x.com/Ym_sknA_61a" target="_blank" class="w-full">
          <%= image_tag "x-logo.png", class: 'h-6 w-6' %>
        </a>
      </li>
    </ul>
  </div>

  <button class="<%= "dock-active" if current_page?(gantt_chart_path) %> active:opacity-60">
    <%= link_to gantt_chart_path, class: "w-full flex flex-col items-center", data: { action: "click->loading#show" } do %>
      <span class="material-symbols-outlined">
        stacked_bar_chart
      </span>
      <span class="dock-label">チャート</span>
    <% end %>
  </button>

  <button class="<%= "dock-active" if current_page?(tasks_path) %> active:opacity-60">
    <%= link_to tasks_path, class: "w-full flex flex-col items-center", data: { action: "click->loading#show" } do %>
      <div class="pt-1">
        <%= render 'tasks_icon' %>
      </div>
      <span class="dock-label">タスク一覧</span>
    <% end %>
  </button>

  <button class="<%= "dock-active" if current_page?(milestones_path) %> active:opacity-60">
    <%= link_to milestones_path, class: "w-full flex flex-col items-center", data: { action: "click->loading#show" } do %>
        <%= render 'stars_icon' %>
      <span class="dock-label">星座一覧</span>
    <% end %>
  </button>

  <% if user_signed_in? %>

    <button class="<%= "dock-active" if current_page?(user_path(current_user)) %> active:opacity-60">
      <%= link_to user_path(current_user), class:"w-full flex flex-col items-center", data: { action: "click->loading#show" } do %>
        <span class="material-symbols-outlined">
          person
        </span>
        <span class="dock-label"><%= current_user.name %></span>
      <% end %>
    </button>

  <% else %>

  <button class="active:opacity-60">
    <%= link_to new_user_session_path, class:"w-full flex flex-col items-center", data: { action: "click->loading#show" } do %>
      <span class="material-symbols-outlined">
        person
      </span>
        <span class="dock-label">ログイン</span>
      <% end %>
  </button>

  <% end %>
</div>
